<div class="left-sidebar">

    <div class="imp-profile">
        <div class="ctr"><img src="../../assets/member-2.png" ><br></div>
        <p>Nom et Prénom</p>
        <p>Information personnels</p>
        <a href="#">Modifié</a>
    </div>
  
    <div class="imp-links">
        <a href="#"> <h3>Dashboard</h3></a>
        <a href="#"><img src="../../assets/user.png" > Profile</a>
        <a href="#"><img src="../../assets/document.png" > Statistiques</a>
        <a href="#"><img src="../../assets/catalogue.png" > Employé</a>
        <a href="#"><img src="../../assets/catalogue.png" > My Account</a>
        <a href="#"><img src="../../assets/catalogue.png" > Documents</a>
    </div>
    <div class="links">
        <a href="#"><img src="../../assets/settings.png">Settings</a>
        <a href="#"><img src="../../assets/information.png">Help</a>
    </div>
  
  </div>
