
<nav>
    <div class="nav-left">
        <img src="../../assets/logo1.webp" class="logo">
    </div>
  
    <div class="nav-right">
        <div class="search-box">
            <img src="../../assets/search.png" >
            <input type="text" placeholder="search">
        </div>
        <ul>
            <li></li>
        </ul>
        <div class="nav-user-icon online">
            <ul>
            <li><img src="../../assets/logout.png"></li>
            <li><img src="../../assets/member-2.png"></li>
        </ul>
        </div>
    </div>
  </nav>
