<div class="container-info">
    <h1>Mon profile</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam est excepturi consequatur reprehenderit enim? Pariatur voluptatem quas.</p>
    <div class="info-box">
        <div class="info-left">
            <h3>Modifié</h3>
            <form action="">
                <div class="input-row">
                    <div class="input-goup">
                        <label>Nom</label>
                        <input type="text" placeholder="nom">
                    </div>
                    <div class="input-goup">
                        <label>Prénom</label>
                        <input type="text" placeholder="prénom">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-goup">
                        <label>Email</label>
                        <input type="email" placeholder="admin@gmail.com">
                    </div>
                    <div class="input-goup">
                        <label >Télephone</label>
                        <input type="tel" placeholder="+216...">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-goup">
                        <label>Post</label>
                        <input type="text" placeholder="Admin">
                    </div>
                </div>
                <label>Message</label>
                <textarea rows="5" placeholder="Ecrire quelque chose"></textarea>

                <button type="submit">Enregistrer</button>
            </form>
        </div>
        <div class="info-right">
            <h3>Mes informations Personnels</h3>
            <div>
                <img class="img-p" src="../../assets/member-2.png">
            </div>
            <table>
                <tr>
                    <td>Nom</td>
                    <td>admin</td>
                </tr>
                <tr>
                    <td>Prénom</td>
                    <td>admin</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>admin.gmail.com</td>
                </tr>
                <tr>
                    <td>Télephone</td>
                    <td>+216 54646181</td>
                </tr>
                <tr>
                    <td>Post</td>
                    <td>admin</td>
                </tr>
            </table>
        </div>
    </div>
</div>
